# dependencies
node_modules

# vscode editor
.vscode/*
!.vscode/settings.example.json

# next.js
.next/
out/

# env file
.env
.env*
.flaskenv*
!.env.project
!.env.vault

# config file
**/config.json

# debug
npm-debug.log*

#production
dist
build

# typescript
*.tsbuildinfo
next-env.d.ts

# generated types
.astro/

# macOS-specific files
.DS_Store

# database file
services/api/data/*