# Disable telemetry to resolve a npm ERR after start dev server.
# Check this github issue to learn more: 
# https://github.com/vercel/next.js/issues/47121#issuecomment-1499044345

NEXT_TELEMETRY_DISABLED=1 